.SideBar {
  background-color: rgba(127, 255, 212, 0);
  position: relative;
  top: 10%;
  right: -2%;
}

.ant-layout-sider-zero-width-trigger {
  position: absolute !important;
  top: 3% !important;
  right: 0% !important;
}

.SideBar ul {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.SideBar ul li {
  margin-top: 3rem;
}

.SideBar a {
  padding: 1.2rem;
  background-color: #eee;
  border-radius: 50%;
}

.SideBar a:hover, a:active, a:focus {
  padding: 1.2rem;
  background-color: #73B626;
  border-radius: 50%;
}

.SideBar img {
  width: 20px;
}
